/* src/App.css */

:root {
  /* Existing Colors */
  --color-background: #ffeef8;
  --color-main: #FF598B; 
  --color-darkPink:#FF5C5C;
  --color-brown:#81334A;
  --color-lightpurple:#AF6099;
  --color-darkBrown : #4a2c2a;
  --color-white :#FFFFFF;
  --color-stroke: #996969;
  --color-btnHover : #a64460;
  --color-text-gray: #555555;
  --color-text-dark: #2F2F2F; 
  --color-text-body: #4A4A4F;  
  --color-black: #000000;


  /* Fonts */
  --font-family-main: 'David Libre', serif;
  --font-family-main2: 'Inter', sans-serif;
  --font-family-special: 'DM Serif Display', serif;
  --font-family-sans: 'DM Sans', sans-serif;
  --font-family-alt: 'Poppins', sans-serif;
  --font-family-title: 'Amita', cursive;
  --font-family-body: 'Josefin Sans', sans-serif;
  /* Shadows */
  --shadow-btn: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
  --shadow: 2px 9px 42px 0px rgba(0, 0, 0, 0.08);
}


body {
  background-color: var(--color-background);
}

/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --- Hero Section --- */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px 40px;
  gap: 4rem;
  margin-top: 10px;
}

.hero-content {
  width: 596px;
}

.hero-title {
    /* 1. Font Styling */
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 65px;
    line-height: 100%;
    /* 2. Color & Stroke */
    color:var(--color-main);
    -webkit-text-stroke: 1px var(--color-stroke);
   /* 3. Text Shadow  */
    text-shadow: var(--shadow);
   margin-bottom: 20px; 
}
.hero-description {
    font-family: var(--font-family-body);
    font-weight: 400; 
    font-size: 30px;  
    line-height: 100%; 
    color: var(--color-darkBrown);
    text-align: left; 
    width: 742px;
    height: auto;
    opacity: 1;
}

.btn {
    width: 220px;
    height: 50px;
    margin-top: 30px;
    margin-left: 100px;
    background: var(--color-brown);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    opacity: 1;
    font-family: var(--font-family-body);
    font-weight: 600;
    font-size: 24px;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}
.btn:hover {
    background-color: var(--color-btnHover);
    transform: translateY(-3px); 
    box-shadow: var(--shadow) 
}
.btn:active {
    transform: translateY(-1px); /* Sinks when clicked */
}

.main-hero-img {
  width: 60%;
  height: 580px;
  max-width: 420px;
  margin-right: 0;
}

/*----SPECIALS-----*/
.special-menu-section {
  text-align: center;
  padding: 100px 60px;
  margin-bottom: 90px;
  margin-top: 10px;
}
.special-title {
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 55px;
  color: var(--color-main);
}

.special-subtitle {
  font-family: var(--font-family-special);
  font-size: 50px;
  color: var(--color-accent-peach);
  margin-bottom: 10px;
}
.special-description {
  font-family: var(--font-family-sans);
  font-size: 25px;
  color: var(--color-black);
  margin: 0 auto 50px auto;
  font-weight: lighter;
  line-height: 1.1;
}
.viewMore {
    display: flex; 
    align-items: center;
    justify-content: center;
    /* 2. Positioning far right */
    margin-left: auto;
    margin-bottom: 30px;
    width: 200px;
}

/* Grid of 4 Cards */
.special-cards-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}

.dish-card {
  width: 250px;
  height: 300px;
  background: var(--color-white);
  border-radius: 40px;
  box-shadow:var(--shadow);
  position: relative;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}
.dish-card:hover { transform: translateY(-10px); }
.dish-img {
  width: 150px;
  height: 150px;
  border-radius: 15%;
  object-fit: cover;
  margin-bottom: 18px;
  box-shadow:var(--shadow);
}
.card-content {
  width: 100%;
  text-align: left;
  padding: 0 10px;
}
.card-content h3 {
  font-family: var(--font-family-main2);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--color-darkBrown);
}

.price {
  font-family: var(--font-family-main);
  font-weight: 600;
  font-size:17px;
  color: var(--color-darkPink);
}

/* Sevices */
.services-section {
  margin:auto 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10px;
  gap: 10px;
  margin-bottom: 150px;
}
.services-title {
  font-family: var(--font-family-special);
  color: var(--color-main);
  font-size: 45px;
  margin-bottom: 10px;
  color: var(--color-main);
}
.services-subtitle {
  font-family: var(--font-family-main2);
  font-size:30px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 25px;
}

.services-description {
  font-family: var(--font-family-main2);
  font-size: 16px;
  color: var(--color-text-gray);
  line-height: 1.6;
  margin-bottom: 40px;
}
.explore-btn {
  border-radius: 40px;
  margin-top: 20px;
  width: 180px;
  color: white;
}

/* Grid & Cards */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 230px);
  grid-template-rows: repeat(2, 250px);  
  gap: 25px;
}

.service-card {
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-icon-wrapper {
  margin-bottom: 25px;
}

.service-icon-img {
  width: 50px;
  height: auto;
}

.service-card-title {
  font-family: 'Inter', sans-serif;
  color: var(--color-brown); 
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.service-card-desc {
  font-family: 'Inter', sans-serif;
  color: var(--color-lightpurple);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}